body {
    background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/676da95d-942e-414c-8534-f1832f0d4ced/bvlatuR/std/3296x1798/ms-homepage-desktop");
   
    font-family: Arial, Helvetica, sans-serif;
}

#ordreform{
    background-color:#bd0f3a;
    height:300px;
    width: 150px;
    padding:30px;
   color: darkblue;
    font-weight:bold;
    
}
#tablecar {
   
    background-color: rgba(141, 14, 14, 0.815);
    padding:10px;
    font-weight:700;
    color:white;
    width: 150px;
    height: 100px;
    float: right;
}

#tablecar th {
    border: 1px solid white;
    padding:10px 20px;
}

#tablecar td {
    padding: 10px 50px
}
#bsubmit{

    background-color: darkmagenta;
    color: darksalmon;
    
}
#num{

margin-right: 50px;


}
